<p>Recommendations from BMAT (Total items: <b>{{recommendations.length}}</b>):</p>
<div class="table-container">
    {{#recommendations}}
        <div class="recommended-item">{{trackId}}</div>
    {{/recommendations}}
</div>