<p>Recommendations from BMAT (Total items: <b>{{recommendations.length}}</b>):</p>
<div class="table-container">
    <table id="recommendations-table" class="table table-striped table-condensed table-hover" >
        <tr>
            <th>Isrc</th>
            <th>Artist</th>
            <th>Track</th>
        </tr>
        {{#recommendations}}
            <tr>
                <td class="track-id">
                    <div class="track-isrc">
                        <span class="value">{{isrc}}</span>
                    </div>
                </td>
                <td class="track-info">{{artist}}</td>
                <td class="track-name">{{name}}</td>
            </tr>
        {{/recommendations}}
    </table>
</div>